<div
  class="w-full min-h-screen bg-rose-50 flex flex-col lg:flex-row justify-between px-[5%]"
>
  <div class="w-full lg:w-[68%]">
    <div class="p-6">
      <h1 class="text-preset-1-bold text-rose-900">Desserts</h1>
      <div class="mt-2 md:mt-0 flex flex-wrap justify-between">
        <app-card
          *ngFor="let dessert of desserts; index as i"
          [singleDessert]="dessert"
          [incrementState]="incrementStates[dessert.id] || false"
          [quantityState]="quantityStates[dessert.id]"
          (addToCart)="handleAddToCart(dessert)"
          (incrementQuantity)="handleIncrementQuantity(dessert)"
          (decrementQuantity)="handleDecrementQuantity(dessert)"
        ></app-card>
      </div>
    </div>
  </div>
  @if (getCartCount() > 0) {
  <div class="w-full mt-2 md:mt-0 lg:w-[30%] rounded-xl lg:mt-6">
    <div class="bg-white p-6">
      <p class="text-preset-2-bold text-red">
        Your Cart ({{ getCartCount() }})
      </p>
      <!-- product should go in cart when user click on the card -->
      <div
        *ngFor="let item of cart"
        class="w-full flex justify-between py-4 border-b-[2px] border-rose-100"
      >
        <div class="w-[90%]">
          <div>
            <p class="text-preset-4-semibold">{{ item.name }}</p>
          </div>
          <div class="flex gap-3">
            <p class="text-preset-4-semibold text-red">
              {{ quantityStates[item.id] || 0 }}x
            </p>
            <p class="text-preset-4-regular text-rose-500">
              &commat; {{ item.price | currency : "USD" : "symbol" : "1.2-2" }}
            </p>
            <p class="text-preset-4-semibold text-rose-500">
              {{
                calculateTotalPrice(item)
                  | currency : "USD" : "symbol" : "1.2-2"
              }}
            </p>
          </div>
        </div>
        <div class="flex flex-col justify-center">
          <div
            class="w-5 h-5 rounded-full border-rose-400 border-2 flex justify-center items-center cursor-pointer"
            (click)="handleRemoveFromCart(item)"
          >
            <img
              src="../assets/images/icon-remove-item.svg"
              class="w-[12px] h-[16px]"
            />
          </div>
        </div>
      </div>

      <div class="flex justify-between items-center mt-6">
        <div>
          <p class="text-preset-4-regular text-rose-900">Order Total</p>
        </div>
        <div>
          <p class="text-preset-2-bold text-rose-900">
            {{ calculateOrderTotal() | currency : "USD" : "symbol" : "1.2-2" }}
          </p>
        </div>
      </div>

      <div
        class="flex justify-center items-center py-4 bg-rose-50 rounded-lg mt-3"
      >
        <div><img src="../assets/images/icon-carbon-neutral.svg" /></div>
        <div>
          <p class="text-preset-4-regular text-rose-900">
            This is a
            <span class="text-preset-4-semibold">carbon-neutral</span> delivery
          </p>
        </div>
      </div>

      <button
        class="w-full py-4 bg-red rounded-full mt-5"
        (click)="openModal()"
      >
        <p class="text-preset-3-semibold text-white">Confirm Order</p>
      </button>
    </div>
  </div>
  }@else {
  <div class="w-full mt-2 md:mt-0 lg:w-[30%] rounded-xl lg:mt-6">
    <div class="bg-white p-6">
      <p class="text-preset-2-bold text-red">Your Cart (0)</p>
      <div class="flex flex-col items-center">
        <div><img src="../assets/images/illustration-empty-cart.svg" /></div>
        <div>
          <p class="text-preset-4-semibold text-rose-500">
            Your added items will appear here
          </p>
        </div>
      </div>
    </div>
  </div>
  }
  <app-orderconfirm-modal
    [isVisible]="isModalVisible"
    (closeModal)="closeModalOnly()"
  >
    <div>
      <div class="w-[42px] h-[42px]">
        <img src="../assets/images/icon-order-confirmed.svg" />
      </div>
      <div><p class="text-preset-1-bold text-rose-900">Order Confirmed</p></div>
      <div class="mt-2">
        <p class="text-rose-500">We hope you enjoy your food!</p>
      </div>
      <div class="bg-rose-50 px-4 rounded-lg">
        <div
          *ngFor="let item of cart"
          class="w-full flex justify-between gap-3 py-4 border-b-[2px] border-rose-100"
        >
          <div class="w-12 h-12 rounded-md">
            <img
              [src]="item.image.thumbnail"
              class="w-full h-full rounded-md"
            />
          </div>
          <div class="w-[90%]">
            <div>
              <p class="text-preset-4-semibold">{{ item.name }}</p>
            </div>
            <div class="flex gap-3">
              <p class="text-preset-4-semibold text-red">
                {{ quantityStates[item.id] || 0 }}x
              </p>
              <p class="text-preset-4-regular text-rose-500">
                &commat;
                {{ item.price | currency : "USD" : "symbol" : "1.2-2" }}
              </p>
            </div>
          </div>
          <div class="flex flex-col justify-center">
            <p class="text-preset-4-semibold text-rose-500">
              {{ calculateTotalPrice(item) | currency : "USD" : "symbol" : "1.2-2" }}
            </p>
          </div>
        </div>
        <div class="flex justify-between items-center mt-6">
          <div>
            <p class="text-preset-4-regular text-rose-900">Order Total</p>
          </div>
          <div>
            <p class="text-preset-2-bold text-rose-900">
              {{ calculateOrderTotal() | currency : "USD" : "symbol" : "1.2-2" }}
            </p>
          </div>
        </div>
      </div>
      <button
        class="w-full py-4 bg-red rounded-full mt-5"
        (click)="closeModal()"
      >
        <p class="text-preset-3-semibold text-white">Start New Order</p>
      </button>
    </div>
  </app-orderconfirm-modal>
</div>
