/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Red Hat Text';
  src: url('./assets/fonts/static/RedHatText-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Red Hat Text';
  src: url('./assets/fonts/static/RedHatText-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Red Hat Text';
  src: url('./assets/fonts/static/RedHatText-SemiBold.ttf') format('truetype');
  font-weight: semi-bold;
  font-style: normal;
}